<!DOCTYPE html>
<html>

<head>
   <title>Spiel erstellen | API-LEV MV</title>
   <link rel="stylesheet" href="/css/navbar.css">
   <link rel="stylesheet" href="/css/input.scss">
   <style>
      a {
         color: black;
         text-decoration: none;
      }
   </style>
</head>

<body>
   <div class="flex">
      <header id="navbar">
         <nav class="navbar-container container">
            <a href="/<%= liga %>" class="home-link">
               <!-- <div class="navbar-logo"></div> -->
               API Zentrum | LEV MV
            </a>
            <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu"
               aria-expanded="false">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <div id="navbar-menu" aria-labelledby="navbar-toggle">
               <ul class="navbar-links">
                  <li class="navbar-item"><a class="navbar-link" href="/ligaauswahl">Ligaauswahl</a></li>
                  <li class="navbar-item"><a class="navbar-link" href="/<%= liga %>">Startseite</a></li>
                  <li class="navbar-item"><a class="navbar-link" href="/<%= liga %>/create">Spiel erstellen</a></li>
                  <li class="navbar-item"><a class="navbar-link" href="/<%= liga %>/editTable">Tabelle bearbeiten</a>
                  </li>
               </ul>
            </div>
         </nav>
      </header>
      <h2>Spiel erstellen</h2>

      <form action="/<%= liga %>/add" method="post">
         <div class="container">
            <div>
               <h4>Spielinformationen</h4>
               <div class="omrs-input-group">
                  <label class="omrs-input-underlined">
                     <input required>
                     <span class="omrs-input-label">Datum</span>
                  </label>
               </div>
               <div class="omrs-input-group">
                  <label class="omrs-input-underlined">
                     <input required>
                     <span class="omrs-input-label">Uhrzeit</span>
                  </label>
               </div>
               <div class="omrs-input-group">
                  <label class="omrs-input-underlined">
                     <input required>
                     <span class="omrs-input-label">Spielort</span>
                  </label>
               </div>
            </div>
            <input class="chosen-value" type="text" value="" placeholder="Zum Suchen Tippen">
            <ul class="value-list">
               <% data.forEach(element => { %>
                  <li><%= element.name %></li>
               <% }) %>
            </ul>
         </div>
         <button class="btn" type="submit">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
               <path d="M0 0h24v24H0z" fill="none"></path>
               <path
                  d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                  fill="currentColor"></path>
            </svg>
            <span>erstellen</span>
         </button>
      </form>
   </div>
   </div>

   <script src="/js/nav.js"></script>
   <script src="/js/dropdown.js"></script>
</body>

</html>