<!DOCTYPE html>
<html>

<head>
	<title>Gamedetail | API-LEV MV</title>
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header id="navbar">
		<nav class="navbar-container container">
		  <a href="/<%= liga %>" class="home-link">
			<!-- <div class="navbar-logo"></div> -->
			API Zentrum | LEV MV
		  </a>
		  <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <div id="navbar-menu" aria-labelledby="navbar-toggle">
			<ul class="navbar-links">
			  <li class="navbar-item"><a class="navbar-link" href="/ligaauswahl">Ligaauswahl</a></li>
			  <li class="navbar-item"><a class="navbar-link" href="/<%= liga %>">Startseite</a></li>
			  <li class="navbar-item"><a class="navbar-link" href="/<%= liga %>/create">Spiel erstellen</a></li>
			  <li class="navbar-item"><a class="navbar-link" href="/<%= liga %>/editTable">Tabelle bearbeiten</a></li>
			</ul>
		  </div>
		</nav>
	</header>
	<h2 class="h2Detail"><%= data.home.name %> ( <%= data.scoreHome1 + data.scoreHome2 + data.scoreHome3 %> ) : ( <%= data.scoreAway1 + data.scoreAway2 + data.scoreAway3 %> ) <%= data.away.name %> <%= data.live == true ? '( • LIVE )' : '' %></h2>
	<div style="margin-right: 40px;">
		<ul class="auswahl-links">
			<li class="auswahl-item"><a class="auswahl-link" href="/<%= liga %>/1/<%= data.id %>/<%= data.home.name %>/<%= data.away.name %>">1 / 3</a></li>
			<li class="auswahl-item"><a class="auswahl-link" href="/<%= liga %>/2/<%= data.id %>/<%= data.home.name %>/<%= data.away.name %>">2 / 3</a></li>
			<li class="auswahl-item"><a class="auswahl-link" href="/<%= liga %>/3/<%= data.id %>/<%= data.home.name %>/<%= data.away.name %>">3 / 3</a></li>
		</ul>
		<ul class="auswahl-links">
			<li class="auswahl-item"><a class="auswahl-link" href="/">Aufstellung Heim</a></li>
			<li class="auswahl-item"><a class="auswahl-link" href="/">Aufstellung Gast</a></li>
			<li class="auswahl-item"><a class="auswahl-link" href="/">Offizielle</a></li>
		</ul>
		<ul class="auswahl-links">
			<li class="auswahl-item"><a class="auswahl-link" href="/<%= liga %>/toggleLive/<%= data.id %>/<%= data.live %>">Live / Live beenden</a></li>
			<li class="auswahl-item"><a class="auswahl-link" href="/ostseeliga">Overtime / Penalty</a></li>
			<li class="auswahl-item"><a class="auswahl-link" href="/<%= liga %>/toggleCancled/<%= data.id %>/<%= data.abgesagt %>">Abgesagt</a></li>
		</ul>
	</div>
	<script src="/js/nav.js"></script>
</body>
</html>
