<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/style.css">
    <title>Startseite | API LEV MV</title>
</head>
<body>
	<header id="navbar">
		<nav class="navbar-container container">
		  <a href="/<%= liga %>" class="home-link">
			<!-- <div class="navbar-logo"></div> -->
			API Zentrum | LEV MV
		  </a>
		  <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <div id="navbar-menu" aria-labelledby="navbar-toggle">
			<ul class="navbar-links">
			  <li class="navbar-item"><a class="navbar-link" href="/ligaauswahl">Ligaauswahl</a></li>
			  <li class="navbar-item"><a class="navbar-link" href="/<%= liga %>">Startseite</a></li>
			  <li class="navbar-item"><a class="navbar-link" href="/<%= liga %>/create">Spiel erstellen</a></li>
			  <li class="navbar-item"><a class="navbar-link" href="/<%= liga %>/editTable">Tabelle bearbeiten</a></li>
			</ul>
		  </div>
		</nav>
	</header>
    <table>
		<tr>
		<th>Datum</th>
		<th>Uhrzeit</th>
		<th>Heim</th>
		<th>Logo Heim</th>
		<th>Score Heim</th>
		<th>Score Gast</th>
		<th>Logo Gast</th>
		<th>Gast</th>
		</tr>
		<% data.forEach(element => { %>
			<tr>
				<td><%= element.date %></td>
				<td><%= element.time %></td>
				<td><%= element.home.name %></td>
				<td><%= element.home.logo %></td>
				<td><%= element.scoreHome1 + element.scoreHome2 + element.scoreHome3 %></td>
				<td><%= element.scoreAway1 + element.scoreAway2 + element.scoreAway3 %></td>
				<td><%= element.away.logo %></td>
				<td><%= element.away.name %></td>
				<td><button><a href="/<%= liga %>/game/<%= element.id %>/<%= element.home.name %>/<%= element.away.name %>/<%= element.date %>">zum Spiel</a></button></td>
				<td>
						<form action="/<%= liga %>/delete/<%= element.id %>" method="POST" target="_blank">
						<input type="text" style="display: none;"
							name="id"
							value="<%= element.id %>">
						<button type="submit">Delete</button>
						</form>
				</td>
			</tr>
		<% }) %>
</table>
<div style="margin-top: 50px;"></div>
<table>
	<tr>
		<th>Name</th>
		<th>zum Team</th>
	</tr>
	<% team.forEach(element => { %>
		<tr>
			<td><%= element.name %></td>
			<td><button><a href="/<%= liga %>/mannschaft/<%= element.name %>">zur Spielerliste</a></button></td>
		</tr>
<% }) %>
</table>

<script src="/js/nav.js"></script>

</body>
</html>